.map-content {
    width: 60%;
    height: 100%;
    background: #22293d;
    .map-show {
        width: 100%;
        height: 100%;
        background: #22293d;
        box-shadow: 1px 1px 9px 3px #fff;
    }
    // .map-text {
    //     width: 100%;
    //     height: 30%;
    //     background: #f0f0f0;
    // }
}