.map-content {
    width: 60%;
    height: 100%;
    background: #fff;
    .map-show {
        width: 100%;
        height: 100%;
        background: #ccc;
    }
    // .map-text {
    //     width: 100%;
    //     height: 30%;
    //     background: #f0f0f0;
    // }
}